[user]
	name = Takeshi Yoshida
	email = takeshi.yoshida@hacobu.jp
[core]
	excludesfile = /Users/takeshi/.gitignore
[merge]
	ff = false
[pull]
	ff = only
[commit]
	template = /Users/takeshi/.stCommitMsg
